body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-top: 0;
  font-size: 46px;
  text-align: center;
}
h1 span {
  display: block;
  color: lavender;
}
h1 span:hover {
  color: gold;
  cursor: pointer;
}