/* 기존방식 */
/* .heading{
  text-align: center;
  font-size: 36px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
  span{
    color: royalblue;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: crimson;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
} */


/* @mixin and @include */
@mixin headline{
  text-align: center;
  font-size: 36px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
  span{
    color: royalblue;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: crimson;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Arguments with @mixin and @include */
//Buttons Mixin
@mixin border-style($width, $style, $color){
  border: $width $style $color;
}


.heading{
  @include headline;
}
.news_headline{
  @include headline;
}

.buttons {
  button {
    width: 200px;
    padding: 7px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 18px;

    &.approval {
      @include border-style(2px, solid, blue)
    }

    &.refuse {
      @include border-style(2px, dashed, red)
    }
  }
}
